* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	border: 2px solid black;
}
body {	
	color:black;
	font-family: Futura, Helvetica, Arial, sans-serif;
	background: white;
	text-align: center;
	letter-spacing: 0.2em;
	font-size: 16px;
}
h1 { 
	font-size: 50px;
	font-weight: bold;
	margin-top: 50px;
	font-family: Futura;
	/*letter-spacing: 0px;*/
}
h3 {
	font-size: 16px;
	padding-top:  20px;
	font-family: "Crimson Text";
	font-weight: bold;
	margin-bottom: 50px;
	letter-spacing: 0.1em;
	color: white;
}	 
h4 {
	font-size: 16px;
	font-weight: bold;
}
p {
	/*letter-spacing: 0.2em;*/
}
img {	
	width: 100%;
}
a { 
	color: black;
	text-decoration: none;
	font-size: 16px;
 }	
nav {
	margin: auto;
	background: #E8E8E8;
}
nav a, footer a {
	padding: 30px;
}
ul {
	margin: auto;
	padding: 30px;
}
li {
	text-align: center;
	display: inline;
}
header {
	margin-bottom: 30px;
	/*background-image: url("../images/terrazzo_background.png");*/
	background: #C8C1C1;
	background-size: cover;
}
footer {
	background-color: #E8E8E8;
}
section.product {
	padding-bottom:50px;
	/*width: 100%;*/
	margin: auto;
	display: inline-block;
}
.button {
	color:white;
	background:rgba(0,0,0,0.2);
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	padding:10px;
	display: inline-block;
}
.button a {
	margin:30px;
	display:inline;
}
.welcome p {
	font-family:"Crimson Text";
	width:50%;
	text-align:left;
	margin:auto;
	letter-spacing:0px;
}
.welcome {
	margin:30px;
}
.cart {
	background-color:black;
	text-align:right;
	padding:5px;
}
.cart a {
	padding-left:10px;
	padding-right:10px;
	color:white;
}
#about {
	background-color:#CEF1FF;
	padding: 50px 0px;
	background-image: url("../images/luiny_shells.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family:"Crimson Text";
	margin: auto;
}
a:hover {
	color:gray;
	background:yellow;
}

